/* ---------------------------general css --------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Figtree', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: grid;
    place-items: center;
    color: hsl(0, 0%, 7%);
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
}


/* --------------------------- main css --------------------------- */


/* div and img styles */
.card {
    padding: 16px;
    margin: 24px;
    background-color: white;
    max-width: 22rem;
    border-radius: 16px;
    border: 2px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px 0 hsl(0, 0%, 7%);
    transition-duration: 0.25s;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 16px 16px 0 hsl(0, 0%, 7%);
    cursor: pointer;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.card-tag {
    display: inline-block;
    margin-block: 8px;
    padding: 16px 10px;
    line-height: 0;
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
}

.card-author {
    display: inline-flex;
    align-items: center;
}

.card-author img {
    width: 32px;
}

/* text styles :: heading */
.card h2 {
    font-size: 1.5rem;
    transition-duration: 0.25s;
}

.card h2:hover {
    color: hsl(47, 88%, 63%);
}

/* text styles :: paragraphs */

.card-tag-name {
    font-size: 1rem;
}

.publication-date {
    margin-block: 8px 16px;
    font-size: 1rem;
    font-weight: 600;
}

.card-author-name {
    margin-left: 16px;
    font-weight: 800;
}

.card-description {
    margin-block: 16px 24px;
    font-size: 1em;
    line-height: 1.5;
    color: hsl(0, 0%, 50%);
}
