@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply relative grid min-h-[min(100vh,1080px)] place-items-center bg-primary-200 px-4 py-16 font-karla font-normal text-neutral-900;
}

main {
  @apply min-w-full;
}

form {
  @apply m-auto grid min-w-[min(50%,800px)] gap-6 rounded-2xl bg-white p-10 lg:max-w-[min(50%,800px)];
}

h1 {
  @apply mb-2 text-3xl font-bold;
}

input,
textarea,
.radio__container {
  @apply rounded-md border border-neutral-500 px-6 py-3 accent-primary-600 focus:border-primary-600 focus:outline-primary-600;
}

button {
  @apply w-full rounded-md bg-primary-600 p-3 font-bold text-white transition-colors duration-150 ease-in-out hover:bg-primary-600/80 active:bg-primary-600/60;
}

.success__message {
  @apply invisible fixed left-1/2 top-10 -translate-x-1/2 rounded-xl bg-neutral-900 p-6  text-white transition-all duration-200 ease-in-out;
}

span {
  @apply text-lg font-bold;
}

img {
  @apply mr-4 inline-block;
}

.radio__container {
  @apply flex items-center gap-3;
}

.radio__container,
.radio__container * {
  @apply cursor-pointer;
}

.radio__container:has(input[type="radio"]:checked) {
  @apply border-primary-600 bg-primary-600/20 outline-primary-600;
}

.checkbox__container {
  @apply flex items-center gap-4;
}

.input__container {
  @apply flex flex-col gap-2;
}

.input__row {
  @apply grid gap-4 md:grid-cols-2;
}

.query__row {
  @apply grid gap-4 md:grid-cols-2;
}

input[type="radio"],
input[type="checkbox"] {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
}

.input__label::after {
  @apply ml-2 text-primary-600 content-['*'];
}

.input-error {
  @apply hidden text-red;
}

.container-error .input-error {
  @apply block;
}
