@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
    url('fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
    url('fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Primary Colors */
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);

    /* Neutral Colors */
    --color-very-dark-blue: hsl(234, 12%, 34%);
    --color-grayish-blue: hsl(229, 6%, 66%);
    --color-very-light-gray: hsl(0, 0%, 98%);

    /* Typography */
    --font-family: 'Poppins', sans-serif;
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
