/* Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* ROOT CSS */
:root {
    /* Primary Colors */
    --main-background-color: hsl(233, 47%, 7%);
    --card-background-color: hsl(244, 38%, 16%);
    --accent-color: hsl(277, 64%, 61%);

    /* Neutral Colors */
    --main-heading-color: hsl(0, 0%, 100%);
    --main-paragraph-color: hsla(0, 0%, 100%, 0.75);
    --stat-heading-color: hsla(0, 0%, 100%, 0.6);

    /* font-size */
    --fs-1: 1rem;

    /* font-family */
    --ff-1-inter: 'Inter', sans-serif;
    --ff-2-Lexend: 'Lexend Deca', sans-serif;

    /* font-weight */
    --fw-1-regular: 400;
    --fw-2-bold: 700;

    /* screen-size */
    --screen-size: 600px;
}

/* General CSS */
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    overflow: hidden;
    max-width: 70rem;
    margin: auto;
    place-content: center;
    font-family: var(--ff-1-inter);
    font-weight: var(--fw-1-regular);
    color: var(--main-paragraph-color);
    background-color: var(--main-background-color);
    list-style: none;
    padding: 1.2rem;
}

.grid-flow {
    display: grid;
}

.flex-group {
    display: flex;
}

/* Custom CSS */
main {
    background-color: var(--card-background-color);
    border-radius: .5rem;
    overflow: hidden;
}

@media (min-width: 700px) {

    picture {
        order: 2;
        max-width: 50%;
    }

    .promotion-text-container {
        gap: 3rem;
        max-width: 75%;
        padding-block: 3rem;
        margin: auto;
    }

    h1 {
        font-size: 2.5rem;
    }

}

@media (max-width: 700px) {
    main {
        flex-direction: column;
    }

    .promotion-text-wrapper {
        padding: 2rem;
        text-align: center;
    }

    .promotion-text-container {
        gap: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    picture img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

picture img {
    height: 100%;
    object-fit: cover;
}

ul {
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    flex-wrap: wrap;
    gap: 1.5rem;
}

li {
    flex: 1;
}

h1 {
    color: var(--main-heading-color);
    margin-bottom: 1.5rem;
}

p {
    line-height: 1.5;
}

h1 span {
    color: var(--accent-color);
}

li span {
    display: block;
    font-size: 1.5rem;
    font-weight: var(--fw-2-bold);
    color: var(--main-heading-color);
    margin: .5rem;
}

.promotion-image-wrapper {
    position: relative;
}

.promotion-image-wrapper :before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsla(277, 64%, 61%, 0.35);
    pointer-events: none;
}
