:root {
    /* Colors */
    --primary-violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    /* Typography */
    --ff-poppins: 'Poppins', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;

    --fw-400: 400;
    --fw-600: 600;

    --round-radius: 100vh;

    background-color: var(--primary-violet);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: auto;
    padding-block: 2rem;
    align-content: start;
    color: white;
    font-family: var(--ff-poppins);
    position: relative;
}

@media (max-width: 75rem) {
    body {
        background: url("images/bg-mobile.svg") no-repeat top;
        background-size: cover;
    }
}

@media (min-width: 75rem) {
    body {
        background: url("images/bg-desktop.svg") no-repeat top;
        background-size: cover;
        gap: 2rem;
        padding-inline: 5%;
        grid-template-rows: auto 1fr;
    }
}

header {
    margin-right: auto;
}

@media (max-width: 75rem) {
    header {
        margin-left: 2rem;
    }

    header img {
        width: 10rem;
    }
}

@media (min-width: 75rem) {
    header img {
        width: 15.625rem;
    }

}

a {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: var(--round-radius);
    border: 0.125rem solid white;
    padding: .5rem;
    display: grid;
    place-items: center;
}

a:hover {
    border-color: var(--soft-magenta);
}


h1 {
    font-size: 2.5rem;
    font-weight: var(--fw-600);
}

@media (max-width: 75rem) {
    h1 {
        font-size: 1.8rem;
    }
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    gap: min(2rem);
}

section {
    display: grid;
    margin: auto;
}

@media (min-width: 75rem) {
    section {
        grid-template-columns: 1.2fr 1fr;
        max-width: 90rem;
        gap: 1.5rem;
    }
}

@media (max-width: 75rem) {
    section {
        text-align: center;
        padding: 2rem;
        gap: 1.5rem;
    }
}

.left img {
    max-width: 100%;
}

@media (min-width: 84.375rem) {
    .right {
        padding-top: 2rem;
    }
}

@media (max-width: 75rem) {
    .right {
        padding: 0;
        justify-content: center;
    }
}


.right p {
    padding-block: 1.5rem;
    font-size: 1.15rem;
    font-family: var(--ff-open-sans);
    color: #d8d8d8;
}

.right button {
    background-color: white;
    color: var(--soft-magenta);
    border: none;
    padding: 1rem 5rem;
    border-radius: var(--round-radius);
    font-family: var(--ff-open-sans);
    font-weight: var(--fw-600);
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.625rem rgba(0, 0, 0, 0.4);
    transition: all .10s;
}

.right button:hover {
    background-color: var(--soft-magenta);
    color: white;
}

nav {
    display: grid;
    place-content: end;
}

@media (min-width: 75rem) {
    nav {
        position: absolute;
        bottom: 2rem;
        right: 4rem;
    }
}

@media (max-width: 75rem) {
    nav {
        place-content: center;
    }
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}
